{% extends 'base.html' %}
{% block content %}

<body>
    <h1>Routes and Landmarks</h1>
    <table id="routesLandmarks">
        <thead>
            <tr>
                <th>Route</th>
                <th>Landmark Connections</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <!-- Add more rows for other routes and landmarks as needed -->
        </tbody>
    </table>
</body>
</html>
{% endblock content %}