body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 190vh;
    /* background-color: #000000 !important; */
}



footer {
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;


}

.border-home {
    box-shadow: 5px 5px 6px 6px grey;
}

.loginIcon {
    font-size: xxx-large
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #000000;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #59238F;
    text-align: center;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: #42F3FA;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #42F3FA;
}

.inputBox {
    position: relative;

}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

a:hover {
    color: #00ffff;
}

p {
    color: #0000ff;
}

.logo-christ {
    position: absolute;
    top: 0px;
    left: -50px;
    height: 100px;
}

.logo-buzz-maps {
    position: absolute;
    top: 0px;
    right: -40px;
    height: 150px;
}


nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    /* padding: 20px; */
    background-color: #fff;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}
