{% extends 'base.html' %}
{% block content %}

<div>

<body>
    <a href="#"><i class="bi bi-house-door"><span>Home</span></i></a>
    <div class="dropdown">

        <label class="dropdown-toggle" onclick="toggleUsersDropdown()">
            <i class="bi bi-people"><span>Users</span></i>
        </label>
        <div class="dropdown-content" id="users-dropdown-content">
            <!-- <a href="#"><i class="bi bi-eye"></i><span>Create Users</span></a> -->
            <a href="{% url 'admin_users_create' %}">
                <i class="bi bi-eye"></i>
                Create Users
              </a>
              <a href="{% url 'admin_users_manage' %}">
                <i class="bi bi-eye"></i>
                Manage Users
              </a>
            
        </div>
    </div>
    <br>

    <div class="dropdown">
        <label class="dropdown-toggle" onclick="toggleBusDriverDropdown()">
            <i class="fa fa-table"><span>Buses and Drivers</span></i>
        </label>
        <div class="dropdown-content" id="bus-driver-dropdown-content">
            <a href="{% url 'admin_drivers_buses' %}"><i class="bi bi-bus"></i><span> Manage Buses and Drivers</span></a>
            <!-- <a href="#"><i class="bi bi-person"></i><span>Manage Buses and Drivers</span></a> -->
        </div>
    </div>

    <br>

    <div class="dropdown">
        <label class="dropdown-toggle" onclick="toggleroutesandlandmarksDropdown()">
            <i class="fa fa-table"><span>Routes and Landmarks</span></i>
        </label>
        <div class="dropdown-content" id="toggle-routes-and-landmarks-Dropdown-dropdown-content">
            <a href="{% url 'admin_routes_landmarks' %}"><i class="bi bi-person"></i><span>Manage Routes and Landmarks</span></a>
        </div>
    </div>


    <!-- <a href="support.html"><i class="fa fa-info-circle"><span>Support</span></i></a> -->
    <a href="{% url 'support_view' %}">
        <i class="fa fa-info-circle"></i>
        Support
      </a>
      


    <div class="banner"></div>
    <script>
        function toggleUsersDropdown() {
            var dropdownContent = document.getElementById("users-dropdown-content");
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>

    <script>
        function toggleBusDriverDropdown() {
            var dropdownContent = document.getElementById("bus-driver-dropdown-content");
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>

    <script>
        function toggleroutesandlandmarksDropdown() {
            var dropdownContent = document.getElementById("toggle-routes-and-landmarks-Dropdown-dropdown-content");
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>

</body>

</div>

<style>

</style>


</html>

{% endblock content %}