{% extends 'base.html' %}
{% block content %}

<link rel=icon href="images/Christ University Hindi_logo_last.png">
<title>BuzzMaps</title>


<div class="loginBox">
    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Login to Buzz Maps</h3>
    <form action="login.php" method="post">
        <div class="inputBox">
            <input id="uname" type="text" name="Username" placeholder="Username">
            <input id="pass" type="password" name="Password" placeholder="Password">
        </div>
        <input type="submit" name="" value="Login">
    </form>
    <a href="#">Forget Password<br></a>
</div>



<!-- <img class="logo-christ" src="images\Christ University Hindi_logo_last.png" alt="Christ Logo">
<img class="logo-buzz-maps" src="https://example.com/buzz-maps-logo.png" alt="Buzz Maps Logo"> -->




{% endblock content %}